@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@500&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  color: #fff;
  background-color: #282838;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  font-family: "Lexend Mega", sans-serif;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game__board {
  display: grid;
  grid-gap: 4px;
  grid-template-rows: repeat(3, 70px);
  grid-template-columns: repeat(3, 70px);
}
.game__board--box {
  background-color: #fff;
  font-size: 6rem;
}
@media only screen and (min-width: 320px) {
  .game__board {
    display: grid;
    grid-gap: 4px;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
  }
  .game__board--box {
    font-size: 9rem;
  }
}
@media only screen and (min-width: 1024px) {
  .game .game__winnerboard--winner {
    font-size: 8rem;
  }
  .game .game__winnerboard--reset {
    font-size: 3rem;
  }
  .game__board {
    display: grid;
    grid-gap: 4px;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(3, 150px);
  }
  .game__board--box {
    font-size: 14rem;
  }
}
@media only screen and (min-width: 1920px) and (min-height: 1080px) {
  .game .game__winnerboard--winner {
    font-size: 13rem;
  }
  .game .game__winnerboard--reset {
    font-size: 6rem;
  }
  .game__board {
    display: grid;
    grid-gap: 4px;
    grid-template-rows: repeat(3, 250px);
    grid-template-columns: repeat(3, 250px);
  }
  .game__board--box {
    font-size: 24rem;
  }
}
.game__board.X .game__board--box:not(.O, .X):hover::after {
  content: "X";
  opacity: 0.7;
}
.game__board.O .game__board--box:not(.X, .O):hover::after {
  content: "O";
  opacity: 0.7;
}
.game__board--box {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.game__board--box--box.O, .game__board--box--box.X {
  display: block;
  color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  pointer-events: none;
}
.game__board--box.O::after {
  content: "O";
  position: absolute;
}
.game__board--box.X::after {
  content: "X";
  position: absolute;
}
.game__winnerboard {
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.game__winnerboard--disabled {
  display: none;
}
.game__winnerboard--winner {
  font-size: 5rem;
}
.game__winnerboard--reset {
  padding: 10px 60px;
  cursor: pointer;
  background-color: #181818;
  color: #fff;
  position: relative;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 15px;
}
.game__winnerboard--reset::after {
  position: absolute;
  content: "wyczyść";
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffa500;
  transform: translateY(100%);
  transition: 0.4s;
}
.game__winnerboard--reset .reset_text {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.4s;
}
.game__winnerboard--reset:hover .reset_text {
  transform: translateY(-120%);
}
.game__winnerboard--reset:hover::after {
  transform: translateY(0);
}/*# sourceMappingURL=tictactoe_style.css.map */